html {
    font-family: 'Sharon Sans';
}

body {
    background: linear-gradient(to left, #4990d6, #54a8d3, #3bb2d3, #1e9ec9);

    & #root >div {
        width: 100vw;
        height: 100vh;
    }
}

@font-face {
    font-family: 'Roslindale';
    src: url('../../assets/Roslindale\ Text\ Italic.ttf');
}

.homepage-body {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-top: 200px;

    & .opcoes-container {

        align-self: flex-start;
        justify-content: center;

        & .opcoes {
            & p {
                font-size: 30px;
                font-weight: 500;
                padding-left: 30px;
                margin-top: 15px;
                margin-bottom: 0px;
                cursor: pointer;
                color: lightcyan;
                font-family: 'Roboto', serif;

                &:hover {
                    text-decoration: underline;
                }
            }

        }

        & span {
            color: white;
            padding: 5px;
            font-family: 'Roslindale';
            font-weight: bolder;
            background-color: rgb(121, 117, 117);
        }

    }



}

/* 
button {
    margin-top: 8px;
    width: inherit !important;
    align-self: center;
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;

    &:disabled {
        border: none;
    }

    &:hover {
        background-color: green;
        color: white;
        border: none;
        cursor: pointer;
    }


}


header {
    background-color: black;
    position: absolute;
    width: 100%;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    border-bottom: 7px solid grey;

    & svg{
        height: 125px;
        width: 200px;
    }
}


div.container {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    & div.main-questionary-display {
        display: flex;
        flex-direction: column;
    }

    & div.questionary-display {
        background-color: blueviolet;
        width: 50%;
        align-self: center;
        text-align: justify;
        color: white;
        font-weight: 500;
        border-radius: 16px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        & >div {
            display: flex;
            flex-direction: column;
            gap: 2px;
            cursor: pointer;

            &:hover {
                background-color: violet;
            }
        }
    }


    & div.quiz-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        & span {
            color: white;
            font-weight: bolder;
        }

        & input {
            width: 50%;
            padding: 6px;
            border-radius: 8px;
        }
    }

    & div.create-quiz {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        background: grey;
        flex-direction: column;
        gap: 12px;

        & .game-form {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 6px;
            padding: 0 12px;
            width: 50%;
            align-self: center;

            & select {
                padding: 6px;
            }

            & select option:disabled {
                color: grey;
            }

            & input {
                padding: 6px;
            }
        }
    }

   
} */