html {
    font-family: 'Sharon Sans';
}

@font-face {
    font-family: 'Roslindale';
    src: url('../../assets/Roslindale\ Text\ Italic.ttf');
}

.homepage-body {
    font-weight: bold;
    display: flex;
    height: calc(100% - 300px);
    justify-content: center;
    margin-top: 100px;

    & p {
        font-size: 30px;
        font-weight: 500;
        padding-left: 30px;
        margin-top: 15px;
        margin-bottom: 0px;
        cursor: pointer;
        color: lightcyan;
        font-family: 'Roboto', serif;

        &:hover {
            text-decoration: underline;
        }
    }

}

